
.hero{
background: url()!important;
background-size:100% 100%!important;
}

.footer span:nth-child(1){
display:none!important;
}

.abstract-item{
font-family: 'DFKai-SB', sans-serif;
}

.abstract-item:hover{
transform:translateY(10px);
border: 2px solid #00BFFF;
}

.home-blog .hero .description {
    font-size: 1.4rem!important;
    line-height: 1.3;
}