
.hero{
background: url()!important;
background-size:100% 100%!important;
}

.footer span:nth-child(1){
display:none!important;
}

.abstract-item{
font-family: 'Source Han Sans CN', sans-serif!important;
}

.abstract-item:hover{
transform:scale(1.03)!important;
border: 2px solid rgba(135,206,235,0.5)!important;
}

.home-blog .hero .description {
    font-size: 1.4rem!important;
    line-height: 1.3;
}